/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* Двигающаяся стрелка */

.theme-menu__button:disabled::after {
  position: absolute;
  content: '▶';
  top: 0;
  left: -15px;
  animation: moving 0.5s ease-in-out infinite alternate;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
} 

/* Выдвигающийся псевдоэлемент на кнопках */

.card__like-button::before,
.footer__button::before,
.footer__dialog-button::before {
  content: '';
  position: absolute;
  inset: 0;
  height: 100%;
  transform-origin: left;
  width: 100%;
  background-color: var(--mix-color);
  color: var(--bg-color);
  mix-blend-mode: difference;
  transition: 0.5s ease-in-out;
  translate: -100%;
}

.card__like-button:hover::before,
.footer__button:hover::before,
.footer__dialog-button:hover::before {
  translate: 0%;
} 

/* Увеличивающееся сердце */

.is-liked {
  animation: scale 0.3s 0.1s ease-in alternate;
}

.is-liked .heart {
    animation: heart-big 0.3s ease-in alternate; 
    transform-origin: center;
}
  
@keyframes heart-big {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}  

/* Добавление искр */

.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}
  
@keyframes sparks {
  from {
    fill: transparent;
  }
  to {
    fill: var(--accent-font-heart);
  }
} 