/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Переменные светлой темы */
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P';
  --text-weight: 400;
  --title-weight: 700;
  --bg-color: #fff;
  --accent-color: #000;
  --bg-image: #d3d3d3;
  --bg-gradient-first: #e7e7e7;
  --bg-gradient-second: #1a1a1a;
  --main-wdth: 700px;
  --main-font-size: 18px;
  --mix-color: #fff;
  --main-font-heart: #000;
  --accent-font-heart: red;
}